@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table id="employee-list">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
        </tr>
    </thead>
</table>
<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $.get('Home/EmployeeDetails/').done(function (employees) {
            $.each(employees, function (i, employee) {
                var item = '<tr><td>' + employee.id + '</td><td>' +
                    employee.name + '</td><td>' +
                    employee.address + '</td><td>' +
                    employee.city + '</td></tr>';
                $('#employee-list').append(item);
            })
        });
    });
</script>